body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      font-family: Arial, sans-serif;
    }

    #main-content {
      width: 60%;
      margin: auto;
      padding: 25px;
      display: none;
    }

    #loader {
      width: 300px;
      height: 250px;
      background: url('https://i.pinimg.com/originals/9c/47/5e/9c475e9a0240549a93bd820c7de09aed.gif') no-repeat center center;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }